<p id="notice"><%= notice %></p>

<h1>Listing Angels</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Fecha</th>
      <th>Credito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @angels.each do |angel| %>
      <tr>
        <td><%= angel.Nombre %></td>
        <td><%= angel.Cantidad %></td>
        <td><%= angel.Precio %></td>
        <td><%= angel.Fecha %></td>
        <td><%= angel.Credito %></td>
        <td><%= link_to 'Show', angel %></td>
        <td><%= link_to 'Edit', edit_angel_path(angel) %></td>
        <td><%= link_to 'Destroy', angel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Angel', new_angel_path %>
