<%= form_for(@ruiz) do |f| %>
  <% if @ruiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ruiz.errors.count, "error") %> prohibited this ruiz from being saved:</h2>

      <ul>
      <% @ruiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Cliente %><br>
    <%= f.text_field :Cliente %>
  </div>
  <div class="field">
    <%= f.label :Direccion %><br>
    <%= f.text_field :Direccion %>
  </div>
  <div class="field">
    <%= f.label :TotalFactura %><br>
    <%= f.number_field :TotalFactura %>
  </div>
  <div class="field">
    <%= f.label :Fecha %><br>
    <%= f.datetime_select :Fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
